<div class="loadme">
<<<<<<< HEAD
	<div class="services" id="innerwrapper">
    	<h2 class="tk-adelle">Services</h2>
    	<p>
			<%= image_tag("services.jpg") %>Princess Anne Automotive Center offers a comprehensive range of services in order to help keep your domestic or imported vehicle running safely, smooth and legally.
		</p>
		<p>Our services include:</p>
		<ul>
		<% @services.each do |service| %>
        	<li>
				<%= link_to service.name, services_path + "/#{service.permalink}" %>
			</li>
	  	<% end %>
		</ul>
		<p>And <em>yes</em> - we do <b>State Inspections</b> and <b>Scheduled Maintenance</b>
    	<p class="closer">If you have other questions about our services, please don't hesitate to <%= link_to("email", "/contact/") %> us, or give us a call at <strong>(757)858-0744</strong></p>
	</div>
</div>
=======
  #innerwrapper.services
    %h2.tk-adelle Services
    %p
      %img{:alt => "Brian working", :src => "assets/services.jpg"} Princess Anne Automotive Center offers a comprehensive range of services in order to help keep your domestic or imported vehicle running safely, smooth and legally.
    %p Our services include:
    %ul
      - @services.each do |service|
        %li
          = link_to service.name, services_path + "/#{service.permalink}"
    %p
      And
      %em yes
      \- we do
      %b State Inspections
      and
      = succeed "!" do
        %b Scheduled Maintenance
      %p.closer
        If you have other questions about our services, please don't hesistate to #{link_to("email", "/contact/")} us, or give us a call at
        = succeed "!" do
          %strong (757)858-0744
</div>
>>>>>>> 8611b13cc0a6126ab2d981b661ba350de7752198
