<ul>
<% @services.each do |service| %>
	<li>
		<b>Name:</b> <%= service.name %>
		<ul>
			<li>
				<%= link_to("Edit", "edit/#{service.permalink}") %>
			</li>
			<li>
				<%= link_to("Delete", "delete/#{service.permalink}") %>
			</li>
		</ul>
	</li>
		
<% end %>
</ul>