#innerwrapper.services
  = link_to "Back to Services", services_path, :class => "pre"
  %h2= @service.title
  = markdown @service.description
  = link_to "Back to Services", services_path, :class => "pre"