.loadme
  #innerwrapper.about
    %h2.tk-adelle About Us
    %p.abouttext
      %img{:alt => "from left: Brian, Rick Proffitt(owner), Charlie", :src => "/assets/crew.jpg"} Princess Anne Automotive Center is located on Princess Anne Road in Norfolk. While we've been here for a while, the business has recently been handed off to Rick Proffitt. Rick has been servicing cars in the Hampton Roads area for decades, and he is excited for the opportunity to move his business to this newer, larger location.
    %p.abouttext
      At Princess Anne Automotive Center, our team of professional, knowledgeable technicians understands the importance of providing outstanding customer service. We don't just want your money - we want you to think of us whenever you need to have your car or truck worked on. Return business is the key to our continued success, so we go to great lengths to make sure you walk out of shop feeling not only satisfied, but
      = succeed "." do
        %em appreciated
      In order to accomplish this, we are dedicated to providing you with honest, timely and
      %em quality
      service.
    %blockquote.tk-adelle Swing by and and let us assist you with your automotive needs!