.loadme
  #innerwrapper.promotions
    %h2.tk-adelle Promotions
    %p
      Princess Anne Automotive Center offers competitive rates to begin with, but we would like to extend some
      %em special
      offers to our website's visitors(hint: that's you!):
    %ul
      %li#oil_change.coupon
        %h1 Oil Change Special
        %p Get $10 off your Oil Change service. We will:
        %ul
          %li change up to 5 quarts of premium oil
          %li Replace your oil filter
          %li Lube chassis (as needed)
          %li Check tire pressure
          %li Check your fluids
          %li Perform a safety check on your vehicle
        %p Regularly priced at $29.95, now just $19.95 with this coupon.
        %img{:alt => "", :src => "/css/oil_change_coupon.jpg"}/
      %li#state_inspection.coupon
        %h1 State Inspection Special
        %p Get $5 off of State Inspection(regularly $16) when you bring in this coupon.
        %img{:alt => "", :src => "/css/state_inspection_coupon.jpg"}/
      %li#wheel_alignment.coupon
        %h1 Wheel Alignment Special
        %p Get $10 off wheel alignment when you bring in this coupon.
        %img{:alt => "", :src => "/css/wheel_alignment_coupon.jpg"}/
      %li#maintenance.coupon
        %h1 Factory Scheduled Maintenance Special
        %p Get 15% off of factory scheduled maintenance with this coupon!
        %img{:alt => "", :src => "/css/maintenance_coupon.jpg"}/
    %p.reminder And don't forget to "Like" us on Facebook to get updates on special, online only promotions!
    #media
      %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FPrincess-Anne-Automotive-Center%2F137814416297662&width=292&colorscheme=light&show_faces=true&border_color&stream=true&header=true&height=427", :style => "border:none; overflow:hidden; width:292px; height:427px;"}
      %img{:alt => "Princess Anne Automotive Center - Military and Senior Citizen Discounts!", :src => "/assets/sign.jpg"}